/* #191c1c */

body {
  font-family: "Roboto Mono", monospace;
  background-image: url("image/bg-image.png"),
    linear-gradient(#2d2f3f 10%, #262a38 10%, #13131c 80%);
  background-size: contain;
  background-blend-mode: multiply;
  color: #e7f6f2;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
  color: #a5c9ca9a;
  font-weight: bold;
}

.main-page {
  padding: 100px 0 100px 0;
  font-size: 2rem;
}

.container {
  width: 100%;
}

#carouselSlides {
  border-bottom: 2px dashed;
  width: 18%;
  margin-top: 4.5rem;
  font-size: 1rem;
  color: #9ba3a39d;
}

.navbar {
  background-color: #0c0f0f8e;
}

.container {
  padding: 7% 0 5% 0;
  margin: auto;
}

/* Navigation bar */

.navbar-brand {
  font-family: "Roboto Mono", monospace;
  color: #e7f6f2;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
}
.nav-item {
  padding-left: 1rem;
}

.nav-link {
  font-size: 1rem;
  color: #e7f6f295;
}

/* Picture */
.profile-pic {
  width: 40%;
  border-radius: 10%;
}

/* aboutme Section */
#aboutme-sec {
  padding-bottom: 15%;
}

.aboutme-desc {
  margin: auto;
  text-align: justify;
  padding-right: 100px;
}

.aboutme-body {
  padding-top: 3rem;
}

.text {
  padding-top: 4rem;
  font-size: 3rem;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url("image/bg-image-for-phone.jpg");
    background-size: cover;

  }

}

@media (max-width: 1028px) {
  .main-page {
    padding-top: 200px;
    text-align: center;
    font-size: 1.5rem;
  }

  #carouselSlides {
    padding-top: 200px;
    margin: auto;
    font-size: 13px;
    width: 40%;
  }
  .profile-pic {
    margin-bottom: 3rem;
  }

  .aboutme-desc {
    margin: auto;
    padding-left: 100px;
  }
}



/*skill section */

#progress {
  margin-top: 65px;
}

.s-skill {
  padding: 10px;
  border: white 1px solid;
}

.s-skill:hover {
  background-color: #2d2f3f;
}

.wd-skill {
  margin: 15px;
}

.skill-box {
  padding: 55px;
  margin: auto;
}

.skill-list {
  text-align: center;
}

#contact-me {
  margin: 200px 500px 200px 500px;
}

.cnct-me-btn {
  border: 1px #499742 solid;
  padding: 10px;
  border-radius: 10px;
  background-color: #499742;
  color: white;
}

.cnct-me-btn:hover {
  background-color: #0d3409;
  color: white;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #5eb9bc9a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #94e1e59a;
}

.contactme-form {
  color: e7f6f2;
  border-radius: 5px;
  background-color: #0e0e10fd;
  padding: 20px;
}
